body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 135, 135);
    padding: 15px 30px;
}
.logo{
    color: black;
    font-size: 1.5em;
    margin: 0;
}
.nav-link{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-link a:hover{
    color: rgb(164, 226, 221);
}

.hero {
text-align: center;
padding: 60px 20px;
background-color:#f8e9d2 ;
}
footer{
background-color: #3d2b1f;
color: white;
text-align: center;
padding: 15px;
}

.menu{
    padding: 40px 20px;
    text-align: center;
}
.menu-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.menu-card{
    background: #fdfdfd;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    box-shadow: 0 40px 6px rgb(255, 255, 255)
}
.menu-card img{
    width: 100%;
    border-radius: 10px;
}
.menu-card h3 {
    margin: 10px 0 5px 0;
}
.menu-card p{
    color: #3d2b1f;
    font-weight: bold;
}